name: Run tests
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: EsLint & Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Project
        run: |
          cd jarvis_sdk_node
          npm install
      - name: Check the code
        run: |
          cd jarvis_sdk_node
          npm run lint
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Project
        run: |
          cd jarvis_sdk_node
          npm install
      - name: Run test coverage
        run: |
          cd jarvis_sdk_node
          npm run coverage-ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
